<!DOCTYPE html>
<htm>
<head>
<meta charset="ISO-8859-1">
<title>Client Management System</title>
</head>
<body>

<div align="center">
  <h1>Clients List</h1>

  <table>
      <thead>
        <tr>
          <th> Client First Name</th>
          <th> Client Last Name</th>
          <th> Client Email</th>
        </tr>
      </thead>
      <tbody>
        <tr th:each="client : ${listClients}">
          <td th:text="${client.firstName}"></td>
          <td th:text="${client.LastName}"></td>
          <td th:text="${client.email}"></td>
        </tr>
      </tbody>
  </table>
</div>
</body>
</html>