<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Pet Hotel - Customer Page </title>
</head>
<body>
<div>
 <h1>Update Customer</h1>
 <hr>
 <form action="#" th:action="@{/showUpdateDepForm}" th:object="${client}"
method="POST">
 <!-- Add hidden form field to handle update -->
 <input type="text" th:field="*{address}" placeholder="Address" >
 <input type="text" th:field="*{email}" placeholder="Email" >
 <input type="text" th:field="*{name}" placeholder="Name" >
 <input type="number" th:field="*{phone}" placeholder="Phone" >
 <button type="submit" >Update Customer</button>
 </form>
 <hr>
 <a th:href="@{/showClient}"> Back to Customer List</a>
</div>
</body>
</html>
